*{
 padding: 0;
 margin: 0;
 list-style: none;
 border: 0;
 outline: 0;
 box-sizing: border-box;  
}

html, body{
  height: 100%;
}
#root{
  height: 100%;
  display: flex;
}

.sidebar{
  padding: 35px;
  width: 350px;
  border-right: 1px solid #9f9fa3a4;
  height: 100%;
}

.logo{
  margin-bottom: 35px;
  font-size: 30px;
}

.description{
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  margin-bottom: 30px;
}

nav li {
  font-weight: bold;
  font-size: 16px;
  font-size: 14px;
}

nav li:hover{
  color: #0099cc;
  cursor: pointer;
}

.modalClose{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 22px;
}

.modalClose:hover{
  cursor: pointer;
}

.modalHeader{
  margin-bottom: 20px;
}

.modalBody p{
  color: #607d8b;;
}

.content{
  flex: 1;
  overflow: auto;
  background: #f8f6f6;
}

.header{
  height: 58px;
  border-bottom: 1px solid rgb(185, 186, 187);
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
}

.header .search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.header .search input{
  margin-left: 5px;
}

.header .search svg{
  height: 25px;
  width: 25px;
  opacity: 0.7;
}

.content .brands{
  padding: 20px;
}

.brand {
  border: 1px solid #c7c7c7;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
}

.brand h5 {
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
 .brand.selected{
  border: 1px solid #607d8b;
 }

 .brand.selected .brand-colors span{
  flex: 1;
  text-indent: 0;
  cursor: pointer;
 }

.brand-colors{
  display: flex;
}

.brand-colors span{
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.brand-colors span:hover{
  cursor: pointer;
}
.copied{
  position: fixed;
  bottom: 40px;
  right: 40px;
  min-width: 250px;
  border: 1px solid none;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0.5;
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.downloads{
  display: flex;
  align-items: center;
  font-size: 14px;
}
.downloads .selected-event{
  color: #999;
  border-right: #999 1px solid;
  margin-right: 5px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.downloads .selected-event.active{
  color: #000;
}
.downloads svg{
  margin-left: 10px ;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.downloads svg path{ 
  stroke: #999;
}
.downloads .selected-event.active svg path{ 
  stroke: #000;
}
.downloads .selected-event a{
 position: relative;
}
.downloads .selected-event select{
  cursor: pointer;
}

  @-webkit-keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  } 